Source: django-simple-news-and-events
Section: python
Priority: optional
Maintainer: Marco Bardelli <marco.bardelli@servabit.it>
Build-Depends: debhelper (>= 7.0.50~), quilt
Build-Depends-Indep: python-support (>= 1.0)
Standards-Version: 3.8.0

Package: python-django-simple-news-and-events
Depends: ${misc:Depends}, python-django-cms
Architecture: all
Conflicts: python-django-news
Description: News and Events integrated with CMS for Django
 Integrate News and Events with Django CMS.

