#!/usr/bin/make -f
DH_VERBOSE=1

include /usr/share/python/python.mk

dscname = $(shell dpkg-parsechangelog|grep ^Source|cut -d' ' -f2)
origver = $(shell dpkg-parsechangelog|grep ^Version|cut -d' ' -f2|cut -d'-' -f1)

get-orig-source:
	rm -rf $(dscname)-$(origver)
	find . -type f -name '*.~' -o -name '*.py[co]' | xargs rm -f
	quilt pop -a || true
	dh_clean
	mkdir  $(dscname)-$(origver)
	find news events limits -type f | xargs tar -cf - | tar -C $(dscname)-$(origver) -xf -
	tar -czf ../$(dscname)_$(origver).orig.tar.gz $(dscname)-$(origver)
	rm -rf $(dscname)-$(origver)

override_dh_clean:
	find . -type f -name '*.~' -o -name '*.py[co]' | xargs rm -f
	dh_clean

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/$(py_libdir_sh)
	cp -a news events limits $(CURDIR)/debian/tmp/$(py_libdir_sh)/

%:
	dh $@

